@import url(http://fonts.googleapis.com/css?family=PT+Sans:400italic,400,700,700italic&subset=latin,cyrillic);
html {
  font-family: "PT Sans", sans-serif;
  font-size: 14px; }
  html * {
    margin: 0;
    padding: 0; }

body {
  background: #333333 url("/assets/bg-iphone.png") top left no-repeat;
  color: white;
  width: 320px;
  padding-top: 80px;
  background-size: 320px 480px;
  -webkit-background-size: 320px 480px; }

p {
  font: 16px/1.4 "PT Sans", Helvetica, Arial, sans-serif;
  margin-left: 30px;
  width: 260px;
  margin-bottom: 1em; }
  p.bookmark {
    color: #00f0ff;
    font-weight: bold;
    text-align: center;
    margin-top: 2em;
    opacity: 0.4; }

img {
  display: block;
  margin-left: 153px;
  width: 16px;
  opacity: 0.4; }