#userinfo
  %ul#meta
    %li<
      %span><
        123
      photos
    %li<
      %span><
        123
      followers
    %li<
      %span><
        123
      following
    %li<
      %a.follow
        FOLLOW
  =image_tag @user["profile_picture"], :width => 60
  %h2<
    =@user["username"]
  - if @user["full_name"] != ""
    %p#name<
      =@user["full_name"]
  %p#url<
    =link_to @user["website"], @user["website"]
  %p#bio<
    =@user["bio"]
    
.photos#media
  = render :partial => "shared/feed_item", :collection => @photos, :as => :p