.item
  %a{:href => media_url(p["id"])}
    %img{:src => p["images"]["low_resolution"]["url"]}
  
  = render_likes_count(p["likes"], p["user_has_liked"], p["id"])
  
  %span.comments
    = render_comments_count p["comments"]
  
  %span.user
    %img{:src => p["user"]["profile_picture"]}
    = p["user"]["username"]