.item
  %a{:href => media_url(p["id"])}
    %img{:src => p["images"]["low_resolution"]["url"], :width => 306, :height => 306}
  
  = render_likes_count(p["likes"], p["user_has_liked"], p["id"])
  
  %span.comments
    = render_comments_count p["comments"]
  
  %span.user
    %img{:src => p["user"]["profile_picture"]}
    = link_to p["user"]["username"], profile_url(p["user"]["id"])