.item
  %a{:href => media_url(p.id)}
    %img{:src => p.image.medium.url}
  
  = render_likes_count(p.likes_count, p.i_have_liked, p.id)
  
  %span.comments
    = p.comments_count
  
  %span.user
    %img{:src => p.user.profile_picture_url}
    = link_to p.user.username, profile_url(p.user.id)