#menu
  %a{ :href => "/" }
    %img{ :src => "/assets/logo.png" }
  
  %ul.right
    %li
      Logged in as 
      = link_to @session["user"]["username"], profile_url(@session["user"]["id"]) 
    %li
      = link_to "Log out",  logout_url
  
  %ul
    %li{ :class => is_current?("home", "feed") }
      = link_to "Feed", :controller => :home, :action => :feed
    %li{ :class => is_current?("home", "popular") }
      = link_to "Popular", "#"