#menu
  %ul.right.user-menu
    %li
      Logged in as 
      = link_to @session["user"]["username"], profile_url(@session["user"]["id"]), { :title => "View your profile" }
    %li
      = link_to "Log out",  logout_url, { :title => "Log out" }
  
  %h1
    %a{ :href => "/", :title => "Stripes main page" }
      %span
      Stripes

  %ul.main-menu
    %li{ :class => is_current?("home", "feed") }
      = link_to "Feed", { :controller => :home, :action => :feed }, { :title => "View your feed"}
    %li{ :class => is_current?("home", "popular") }
      = link_to "Popular", { :controller => :home, :action => :popular }, { :title => "View popular photos" }