#landing
  %p#say Say hello to
  %img{:src => "/assets/logo-splash.png", :alt => "Stripes logo"}
  %p#desc<
    A new beautiful and cool web app for 
    %a{:href => "http://instagram.com", :title => "Instagram website"}<
      Instagram
  
    %a#login{:href => "/login", :title => "Sign in to Stripes"}<
      Try it!
  
  %p#comment
    Sign in using your Instagram account.