- content_for :title, "Stripes: just a bigger iPhone screen for your Instagram."

#splash
  #landing
    %img#logo{ :src => "/assets/logo-splash-2.png" }
    %p.title<
      Cool web browser for
      %a{ :href => "http://instagr.am" } Instagram
    %ul
      %li.browse Browse
      %li.comment Comment
      %li.like Like
      %li.follow Follow
      %li.search Search
      %li.share Share
    %a.login{ :href => "/login" } Sign in with Instagram
    %p.enjoy Enjoy :)