#splash
  #say Say hello to
  %img{:src => "/assets/logo-splash.png"}
  #desc>
    A new beautiful and cool web app for 
    %a{:href => "http://instagram.com"}
      Instagram
  
  %a#login{:href => "/login"}
    Try it!
    
  %p#comment
    You'll need to have an Instagram account for that.