#landing
  %a{:href => "/"}
    %img{:src => "/assets/logo-splash.png", :alt => "Stripes logo"}
  %p#desc<
    Please sign in with Instagram to view this page.
  
    %a#login{:href => "/login", :title => "Sign in to Stripes"}<
      Sign in