@import url(http://fonts.googleapis.com/css?family=PT+Sans:400italic,400,700,700italic&subset=latin,cyrillic)

// global stuff

@import "mixins"

html
  font-family:  'PT Sans', sans-serif
  font-size:    14px

  *
    margin:   0
    padding:  0

body
  background: #333 url('/assets/transparent-306.gif') top center
  background: #333 url('/assets/bg.png') top center
  background-attachment: fixed

  &.dark
    background: #333 url('/assets/bg-dark.png') top center
    padding:
      top: 0

.meta
  color: #999

.hidden
  display: none

a
  text-decoration: none
  -webkit-transition: color 0.5s

  &:link, &:visited
    color: #09c

p
  font-size: 14px
  line-height: 21px

ul, ul li
  padding: 0
  margin: 0
  list-style-type: none

#menu
  background: #000
  position:   fixed
  z-index: 5000
  top:  0
  left: 0
  height: 40px
  width: 100%
  line-height: 40px
  color: #fff

  h1
    width: 130px
    height: 56px
    color: #000
    position: relative
    float: left
    margin-right: 15px

    a, a:hover
      color: #000


    span
      position: absolute
      display: block
      top: 0
      left: 0
      width: 130px
      height: 40px
      background: transparent url('/assets/logo.png') no-repeat top left

  img
    display: inline
    float: left
    margin-right: 20px

  ul
    display: inline

    li
      display: inline
      margin-right: 20px

      &.current a
        color: cyan

    &.right
      float: right
      margin-right: 20px
      font-size: 12px

      li
        color: #999
        margin-right: 10px

  a:hover
    color: yellow

.container
  margin-top: 70px
  a:hover
    color: maroon

a
  color: #02a3f3
  -webkit-transition: color 0.5s
  text-decoration: none

  &:hover
    color: yellow

#splash
  position: absolute
  color: #fff
  top: 0
  left: 0
  width: 100%
  height: 100%
  vertical-align: middle
  background: #000 url('/assets/splash-bg-3.jpg') center no-repeat

  #landing
    height: 640px
    width: 720px
    // border: 1px solid #666
    margin: 40px auto
    background: transparent url('/assets/splash-borders.png') -10px 180px no-repeat

    #logo
      display: block
      margin-left: 156px

    p.title
      text-align: center
      text-transform: uppercase
      letter-spacing: 4px
      font-size: 13px
      margin-top: -20px
      margin-bottom: 80px

    p.unauthorized
      padding-top: 10px
      text-align: center
      height: 180px
      margin-bottom: 60px

      span
        display: block
        font-size: 30px
        margin-top: 30px

    ul
      // border: 1px solid #666
      height: 180px
      width: 660px
      margin:
        left: 40px
        bottom: 70px

      li
        // border: 1px solid #666
        list-style: none
        // font-weight: bold
        float: left
        font-size: 24px
        padding-left: 70px
        line-height: 50px
        margin: 20px 0
        background: url('/assets/splash-action-icons.png') top left no-repeat

        &.browse, &.follow, &.comment, &.search
          width: 180px

        &.comment
          background-position: 0px -50px

        &.like
          background-position: 0px -100px

        &.follow
          background-position: 0px -150px

        &.search
          background-position: 0px -200px

        &.share
          background-position: 0px -250px

    a.login
      clear: both
      @include huge-button
      text-align: center
      margin: 5px auto
      color: #fff
      background-color: #0380ff
      width: 270px
      font-weight: bold
      @include border-color-like-bevel(#0380ff)
      // box-shadow: transparentize(#000, 0.5) 0px 1px 15px
      -webkit-transition: box-shadow 0.8s, background-color 0.7s
      text-shadow: transparentize(#000, 0.8) 0px -1px 1px

      &:hover
        background-color: #03a3ff
        @include border-color-like-bevel(#03a3ff)
        box-shadow: transparentize(#00d8ff, 0.8) 0px 0px 50px
        -webkit-transition: box-shadow 1s, background-color 0.2s, color 0.2s

      &:active
        background-color: #19416a
        padding-top: 1px
        text-shadow: none
        color: #46719c
        @include border-color-like-bevel-down(#19416a)
        box-shadow: none

    .enjoy
      font-size: 24px
      font-weight: bold
      text-align: center
      margin-top: 60px
      line-height: 40px
      opacity: 0.2