@import url(http://fonts.googleapis.com/css?family=PT+Sans:400italic,400,700,700italic&subset=latin,cyrillic)

// global stuff

html
  font-family:  'PT Sans', sans-serif
  font-size:    14px
  
  *
    margin:   0
    padding:  0
  
body
  background: #333 url('/assets/bg.png')
  background-attachment: fixed
  padding:
    top:  70px
    
  &.dark
    background: #333 url('/assets/bg-dark.png') top center
    padding:
      top: 0
    
.meta
  color: #999
  
a
  color: #09c
  text-decoration: none
  
p
  font-size: 14px
  line-height: 21px
  
ul, ul li
  padding: 0
  margin: 0
  list-style-type: none

#menu
  background: #000
  position:   fixed
  top:  0
  left: 0
  height: 40px
  width: 100%
  line-height: 40px
  color: #fff
  
  img
    display: inline
    float: left
    margin-right: 20px
    
  ul
    display: inline
    
    li
      display: inline
      margin-right: 20px
      
      &.current
        color: cyan
