@import "mixins"

.photos
  margin-top: 30px

  .thumbnail
    @include white-bg-round-corners
    display:    block
    float:      left
    position:   relative
    margin:
      top: 0
      bottom:   30px
    background:
      // image: url('/assets/spinner.gif')
      position: center
      repeat: no-repeat
    padding:
      left: 0
      right: 0
    -webkit-transition: box-shadow 2s

    .ratio
      margin-top: 100%

    &:hover
      box-shadow: transparentize(#fff, 0.6) 0px 0px 55px

      a.link-to-photo span.title
        display: block
        opacity: 1
        height: 2.5em

    a.link-to-photo
      display: block
      position: absolute
      top: 0
      left: 0
      width: 93.865030674846628% // 306 ÷ 326
      margin:
        top: 0.712857142857143em // 10 ÷ 14
        left: 3.3674846625766871%
        bottom: 0.5em

      span.title
        position: absolute
        bottom: 0
        left: 0
        height: 0px
        font-size: 1em
        line-height: 1.25em
        color: #777
        padding-top: 0.4375em
        font-style: italic
        background: #fff
        overflow: hidden
        vertical-align: top
        display: block
        opacity: 0
        width: 100%
        -webkit-transition: opacity 0.5s, height 0.3s

      img.photo
        width: 100%
        border-radius: 2px
    //   // top: 0.712857142857143em // 10 ÷ 14
    //   top: 0
    //   left: 3.3674846625766871% // 10 ÷ 326 and subpixel fix
    //   image-rendering: optimizequality
    //   // + fluid
    //   max-width: 93.865030674846628% // 306 ÷ 326
    //   // margin-left: 3.3674846625766871% // 10 ÷ 326 and subpixel fix

    ul.actions
      float: right
      position: absolute
      right: 3.0674846625766871%
      bottom: 0.5em
      background: #fff
      // + fluid
      // margin-right: 3.0674846625766871% // 10 ÷ 326

      li
        display: inline
        line-height: 20px
        color: #999
        padding-left: 14px
        background:
          repeat: no-repeat
          position: 0px 3px

        b
          font-weight: normal

        span
          display: none

        &:first-child
          margin-right: 5px

        &.like
          cursor: hand
          cursor: pointer
          background:
            image: url('/assets/like.gif')

          &.liked
            color: #ff400d
            background:
              image: url('/assets/like-red.gif')

        &.comment
          background:
            image: url('/assets/comment.gif')

    // ---------
    span
      line-height: 20px

      &.user
        width: 93.865030674846628%
        font-weight:  bold
        display: block
        position: relative
        overflow: hidden
        margin:
          left: 3.3674846625766871% // 10 ÷ 326 and subpixel fix
          bottom: 0.5em

        img
          width:    20px
          height:   20px
          padding:  0
          position: absolute
          top: 0
          left: 0
          border-radius: 2px

        a
          margin-left: 25px

  #fake-preloader
    color: #999
    background: none
    padding: 0
    box-shadow: none
    border-radius: none
    display: block
    float: left

    p
      font-size: 18px
      line-height: 24px

    img
      float: left
      margin-right: 7px