@import "mixins"

#photo
  @include white-bg-round-corners
  padding:  20px
  width:    1000px
  margin:   0 auto 40px
  height: 614px
  
  img
    padding: 0
    margin: 0
    
  h2
    font-size: 24px
    line-height: 36px
    padding-bottom: 10px

  h3
    font-weight: bold
    
  #sidebar
    float: right
    width: 358px
    height: 612px
    overflow: hidden
    position: relative
    
    .container
      overflow-x: none
      overflow-y: scroll
      height: 545px
    
    #general, #likes, #comments
      position: absolute
      width: 358px
      top: 0
      
    #general
      left: 0px
      
    #likes, #comments
      left: 359px
            
    #navbar
      text-align: right
      color: #999
      font-size: 15px
      font-weight: bold
      line-height: 40px
      margin-bottom: 10px
      @include bottom-border

      span
        float: left
        margin-right: 20px
        line-height: 40px
        color: #09c
        cursor: pointer
        -webkit-transition: color 0.5s

        &:hover
          color: maroon
          
    #profile
      @include bottom-border
      padding:
        left: 90px
        bottom: 15px
      position: relative
      min-height: 75px
    
      img
        position: absolute
        top: 0
        left: 0
        width: 75px
        height: 75px
        margin:
          right: 10px
          
      h3
        color: #333
        font-size: 20px
        line-height: 28px
      
      h4
        font:
          weight: normal
          size: 14px
        line-height: 22px
        padding-bottom: 2px
        
      p.meta
        padding-bottom: 5px
        
    #details
      @include bottom-border
      padding-bottom: 10px
      margin-top: 15px
        
      img#map
        border-radius: 3px
        padding-bottom: 8px
        
      p.caption
        color: #666
        font:
          size: 18px
          style: italic
        line-height: 24px
        padding-bottom: 10px
        
      p.sherlock
        font-size: 12px
        
    ul.pages li
      @include bottom-border
      padding-bottom: 10px
      margin-top: 15px

      font-size: 18px
      font-weight: bold
      color: #09c
      cursor: pointer
      background:
        image: url('/assets/arrow.png')
        position: top right
        repeat: no-repeat
      -webkit-transition: color 0.5s

      &:hover
        color: maroon

    .actions
      margin-top: 20px

      li
        margin-right: 10px
        float: left  
      
      #action-like
        @include big-button-with-icon-and-no-text('/assets/actions/like.png')
        @include border-color-like-bevel-white-bg(#ff0000)
        background-color: #ff0000

        &:hover
          background-color: #ff4200
          @include border-color-like-bevel-white-bg(#ff4200)

        &.down
          margin-top: 2px
          background-color: #9b1515
          @include border-color-like-bevel-down(#9b1515)
          background-image: url('/assets/actions/spinners/like.gif')

        &.toggled
          background-color: #ce5a5a
          @include border-color-like-bevel-down(#ce5a5a)
          border-color: transparent

          &:hover
            background-image: url('/assets/actions/unlike.png')

          &.down
            background-color: #9b1515
            @include border-color-like-bevel-down(#9b1515)
            background-image: url('/assets/actions/spinners/like.gif')

    #likes
      ul
        overflow-x: none
        overflow-y: scroll
        height: 545px

        li
          width: 155px
          float: left
          margin-bottom: 20px
          margin-right: 15px
          font-size: 14px
          line-height: 40px
          overflow: hidden
          color: #09c
          position: relative
        
          img
            position: absolute
            top: 0px
            left: 0px
            margin-right: 5px
            width: 40px
            height: 40px

          a
            margin-left: 46px
        
    #comments
      position: relative
      height: 612px

      ul
        overflow-x: none
        overflow-y: scroll
        height: 455px
        
        li
          margin-bottom: 10px
          padding-bottom: 10px
          line-height: 20px
          @include bottom-border
        
          &:first-child
            margin-top: 0
          
          a.author
            font-weight: bold

          span.user
            color: #2ab6cc
          
          .time
            white-space: nowrap
            color: #ccc
            font-size: 12px
            padding-left: 5px

      #comments-form
        position: absolute
        bottom: 0
        left: 0
        background: #f0f0f0
        width: 358px
        height: 100px
        
        .comment
          height: 48px
          width: 336px
          margin: 5px 
          padding: 5px
          line-height: 16px
          font-size: 12px
          display: block
          border: 1px solid #ccc

        .action-post-comment
          @include small-button
          float: right
          background: #999
          margin-right: 5px
          background: #93d3ff
          color: #033557
          text-shadow: #fff 0px 1px 1px
          @include border-color-like-bevel-white-bg(#93d3ff)

          &:hover
            background: darken(#93d3ff, 10%)
            @include border-color-like-bevel-white-bg(darken(#93d3ff, 10%))
          
          &:active
            background: darken(#93d3ff, 20%)
            margin-top: 2px
            @include border-color-like-bevel-down(darken(#93d3ff, 10%))  
                        

    #likes .placeholder,
    #comments .placeholder
      width: 100%
      color: #999
      font-size: 16px
      padding-left: 30px
      line-height: 24px
      background: transparent url('/assets/spinner-hourglass.gif') top left no-repeat
      border: none