@import "mixins"

#userinfo
  min-height: 60px
  padding: 10px 0
  color: #ccc
  border-radius: 6px
  background: #141416 url('/assets/bg-blurred.png') top center
  background-attachment: fixed
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 10px
  text-shadow: rgba(0, 0, 0, 1) 0px -1px 0px

  a:hover
    color: yellow

  img
    float: left
    padding:
      left: 10px
      right: 15px

  h2
    display: inline
    line-height: 32px
    margin-right: 13px
    color: #fff
    font:
      size: 18px
      weight: bold


  p
    &#name
      padding-right: 13px

    &#name, &#url
      display: inline

    &#bio
      font-size: 13px
      color: #666
      margin-right: 20px

  ul#meta
    float: right
    margin-left: 20px

    li
      font-size: 13px
      float: left
      margin:
        right: 20px
        top: 9px

      span
        display: block
        font-size: 18px
        line-height: 24px

      &.action

        span.follow
          @include big-button-with-icon('/assets/actions/follow.png')
          margin-top: 5px
          color: #fff
          background-color: #0380ff
          width: 45px
          @include border-color-like-bevel(#0380ff)
          box-shadow: transparentize(#000, 0.8) 0px 1px 5px

          &:hover
            background-color: #03a3ff
            @include border-color-like-bevel(#03a3ff)
            box-shadow: transparentize(#03a3ff, 0.7) 0px 0px 20px

          &.down
            background: #19416a url('/assets/actions/spinners/follow.gif') center no-repeat
            @include border-color-like-bevel-down(#19416a)
            box-shadow: none
            margin-top: 7px

            &:hover
              box-shadow: none


        span.follow.toggled
          @include big-button
          background: #4ea912 url('/assets/actions/checked.png') center no-repeat
          padding: 0
          margin-top: 5px
          width: 35px
          border-color: transparent
          box-shadow: none

          &:hover
            background-color: #de3e19
            @include border-color-like-bevel(#de3e19)
            background-image: url('/assets/actions/unfollow.png')
            box-shadow: transparentize(#de3e19, 0.7) 0px 0px 20px

          &.down
            background: #4b2922 url('/assets/actions/spinners/unfollow.gif') center no-repeat
            @include border-color-like-bevel-down(#4b2922)
            box-shadow: none
            margin-top: 7px


.photos#user
  margin-top: 30px
