!!! 5
%html
  %head
    %title Stripes for Instagram
    = stylesheet_link_tag :application
    %meta{ :name => "viewport",  :content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" }


  %body.iphone
    %p There are often so many new photos on <i>Instagram</i> that you just can’t browse all of them from your iPhone or iPod, and you think, “there must be some good web app for that”.
    %p Indeed there is.
    %p.bookmark Bookmark Stripes and check it out from your desktop!
    %img{ :src => "/assets/iphone-bookmark.png" }

    - if Rails.env.production?
      %script{ :type => "text/javascript" }= "var _gauges = _gauges || []; (function() { var t   = document.createElement('script'); t.type  = 'text/javascript'; t.async = true; t.id    = 'gauges-tracker'; t.setAttribute('data-site-id', '4f462b96844d5209a0000017'); t.src = '//secure.gaug.es/track.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(t, s); })();"